packages
/Trc1cIntegrationService/Trc1cIntegrationServices/obj
/Trc1cIntegrationService/Trc1cIntegrationServices/bin
/RbiIntegration/RbiIntegration/obj
/RbiIntegration/RbiIntegration/bin
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Newtonsoft.Json.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Newtonsoft.Json.xml
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Quartz.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/RbiIntegration.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/RbiIntegration.dll.config
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/RbiIntegration.pdb
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Common.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Core.ConfigurationBuild.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Core.DI.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Core.Packages.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Core.Process.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Core.Scheduler.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Core.ScriptEngine.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Core.Translation.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Core.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.GlobalSearch.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.GoogleServerConnector.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.IO.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Messaging.Common.Standard.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Mobile.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Monitoring.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Nui.ServiceModel.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Nui.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Reports.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Services.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Social.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Web.Common.dll
/RbiIntegration/RbiIntegration/RbiIntegration/bin/Debug/Terrasoft.Web.Http.Abstractions.dll
/RbiIntegration/RbiIntegration/RbiIntegration/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/RbiIntegration/RbiIntegration/RbiIntegration/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/RbiIntegration/RbiIntegration/RbiIntegration/obj/Debug/RbiIntegration.csproj.CopyComplete
/RbiIntegration/RbiIntegration/RbiIntegration/obj/Debug/RbiIntegration.csproj.CoreCompileInputs.cache
/RbiIntegration/RbiIntegration/RbiIntegration/obj/Debug/RbiIntegration.csproj.FileListAbsolute.txt
/RbiIntegration/RbiIntegration/RbiIntegration/obj/Debug/RbiIntegration.dll
/RbiIntegration/RbiIntegration/RbiIntegration/obj/Debug/RbiIntegration.pdb
